:root{
    --background: #e8e8e8;
}

body{
    font-family: "Homenaje", sans-serif;
    font-weight: 400;
    font-style: normal;

}

.container{
    background-color: var(--background);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.calc{
    width: 300px;
    height: 500px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
}

.pantalla{
    background-color: black;
    color: white;
    border-radius: 6px;
    height: 5vh;
    width: 20vw;
}

.historial{
    background-color: white;
    border-radius: 6px;
}

.inp{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.operaciones{
    display: flex;
    align-items: center;
    justify-content: center;
}

#historial ol,
#historial li {
    list-style: none;
    margin: 0;
    padding: 0;
}